export(fxinit)
export(q)
export(fxstage)
export(fxline)
export(fxseries)
export(fxtext)
export(fxplot)
export(fxplot.xy)
export(fxplot.chart)
export(barplot)
export(dev.new)
export(fxdev.new)
export(fxdev.cur)
export(fxdev.set)
export(fxdev.next)
export(fxdev.prev)
export(plot,plot.default,plot.function,plot.factor,plot.xy,plot.new,plot.window)
export(lines,lines.default,lines.table)
export(curve)
export(dev.cur, dev.set, dev.next, dev.prev)
export(C_plotXY)
export(.External.graphics)
export(par)
